html[data-theme="teal"] {
   --darker-bg-colour: #303841;
	--darker-bg-colour-translucent: hsla(210, 28%, 15%, 0.8);
	--bg-colour: #3a4750;
	--bg2-colour: #396568;
	--bg2-colour-translucent: hsla(180, 100%, 35%, 0.8);
	--bg3-colour: #93c7ca;
	--bg4-colour: hsl(309, 5%, 46%);
	--light-colour: #f4ecf7;
	--highlight-colour: hsl(183, 72%, 73%);
	--second-colour: #282442;
}

html[data-theme="midnightblue"] {
   --darker-bg-colour: #0A0913;
	--darker-bg-colour-translucent: hsla(246, 36%, 5%, 0.8);
	--bg-colour: linear-gradient(180deg, #131122 0%, #1c192c 100%);
	--bg2-colour: #1D1936;
	--bg2-colour-translucent: #1d1936d7;
	--blur-filter: 20px;
	--saturation: 160%;
	--bg3-colour: #282442;
	--bg4-colour: hsl(309, 5%, 46%);
	--light-colour: #f4ecf7;
	--highlight-colour: hsl(248, 29%, 70%);
	--second-colour: #332f50;
}
html[data-theme="palenight"] {
   --darker-bg-colour: #282C3D;
	--darker-bg-colour-translucent: #282C3Dcc;
	--bg-colour: linear-gradient(180deg, #34384C 0%, #282C3D 100%) no-repeat center fixed;
	--bg2-colour: #424760;
	--bg2-colour-translucent: #34384Cd7;
	--blur-filter: 20px;
	--saturation: 160%;
	--bg3-colour: #404A68;
	--bg4-colour: hsl(309, 5%, 46%);
	--light-colour: #BFC7D5;
	--highlight-colour: #C792EA;
	--second-colour: #332f50;
}
html[data-theme="dusk"] {
   --darker-bg-colour: #16181f;
	--darker-bg-colour-translucent: #14101577;
	--bg-colour: linear-gradient(180deg, #1e181f 0%, #2b313e 100%) no-repeat center fixed;
	--bg2-colour: #4f5162;
	--bg2-colour-translucent: #34384Cd7;
	--blur-filter: 20px;
	--saturation: 160%;
	--bg3-colour: #56607b;
	--bg4-colour: hsl(309, 5%, 46%);
	--light-colour: #f2f3e9;
	--highlight-colour: #c275c9;
	--second-colour: #332f50;
}
html[data-theme="purpleorange"] {
	--darker-bg-colour: #1f2041;
	--darker-bg-colour-translucent: hsla(240, 38%, 12%, 0.8);
	--bg-colour: #4b3f72;
	--bg2-colour: #e06969;
	--bg2-colour-translucent: hsla(0, 100%, 70%, 0.8);
	--bg3-colour: #ffe7e7;
	--bg4-colour: hsl(309, 5%, 46%);
	--light-colour: #f4ecf7;
	--highlight-colour: hsl(248, 29%, 70%);
	--second-colour: #282442;
}
