html {
   --darker-bg-colour: #1a1a2e;
	--darker-bg-colour-translucent: hsla(234, 39%, 10%, 0.8);
	--bg-colour: #22223b;
	--bg2-colour: #2a2a40;
	--bg2-colour-translucent: hsla(235, 33%, 14%, 0.8);
	--bg3-colour: #33334a;
	--bg4-colour: hsl(309, 5%, 36%);
	--light-colour: #eaeaea;
	--highlight-colour: hsl(247, 66%, 77%);
	--second-colour: #33334a;
}